@import "/public/styles/index.scss";

.companies {
  @include row-of-elements;
  flex-wrap: wrap;

  @include smallScreen {
    flex-wrap: nowrap;
  }
}

.bt {
  background-image: url("/images/bt-tile.jpg");
}

.times {
  background-image: url("/images/the-times-tile.jpg");
}

.ct {
  background-image: url("/images/ct-tile.jpg");
}

.travel-blog {
  background-image: url("/images/travel-blog-tile.jpg");
}

.disney {
  background-image: url("/images/disney-tile.jpg");
}

.jia {
  background-image: url("/images/jia-tile.jpg");
}

.perfume {
  background-image: url("/images/perfume-tile.jpg");
}

.dashwood {
  background-image: url("/images/dashwood-tile.jpg");
}

.selfridges {
  background-image: url("/images/selfridges-tile.jpg");
}

.hopelands {
  background-image: url("/images/hopelands-tile.jpg");
}

.theyer {
  background-image: url("/images/theyer-tile.jpg");
}

.whitestuff {
  background-image: url("/images/whitestuff-tile.jpg");
}
