@import "_base.scss";

main {
  margin-top: 30px;
}

#skills {
  margin: 30px auto;
  display: flex;

  @include smallScreen {
    flex-direction: column;
  }

  div:first-of-type {
    border-right: 10px solid $primary-colour;

    @include mediumScreen {
      border-right: none;
      margin-bottom: 30px;
    }
  }

  div:last-of-type {
    border-left: 10px solid $primary-colour;

    @include mediumScreen {
      border: none;
    }
  }

  div {
    background-color: $dark-accent-color;
    width: 50%;
    padding: 20px;

    @include mediumScreen {
      width: 100%;
      box-sizing: border-box;
    }

    h3 {
      margin-bottom: 20px;
      font-size: 25px;
    }

    img {
      margin-bottom: 20px;
    }
    
    p {
      text-align: left;
    }
  }
}