@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic");

$primary-colour: #5fa8d3;
$light-color: #ffffff;
$pale-accent-color: #fabb77;
$accent-color: #FBC668;
$dark-accent-color: #4f8eb3;
$dark-color: #003249;
$italic-font: "Droid Serif", serif;
$default-font-size: 18px;
$small-font-size: 13px;
$medium-font-size: 22px;
$large-font-size: 50px;
$default-border: 1px solid white;
$largeDevices: 813px;
$mediumDevices: 812px; //iPhone X landscape
$smallDevices: 550px; //iPhone X landscape

@mixin primary-font {
  font-family: "orator-std", monospace;
  font-display:swap;
  text-transform: lowercase;
  font-weight: 400;
  font-weight: 400;
  text-align: center;
}

@mixin largeScreen() {
  @media (min-width:#{$largeDevices}) {
    @content;
  }
}

@mixin mediumScreen() {
  @media (max-width:#{$mediumDevices}) {
    @content;
  }
}

@mixin smallScreen() {
  @media (max-width:#{$smallDevices}) {
    @content;
  }
}

@mixin ui-card($width, $height) {
  width: $width;
  height: $height;
}

@mixin row-of-elements {
  display: flex;

  @include largeScreen {
    flex-direction: row;
  }

  @include smallScreen {
    flex-direction: column;
  }
}

body {
  @include primary-font;
  background-color: $primary-colour;
  margin: 0;
  min-width: 320px;
}

p,
p a,
ul li,
dt,
dl,
i {
  font-size: $default-font-size;
}

p,
a,
ul li,
dt,
dl,
i {
  color: $light-color;
  margin-top: 0;
}

h1,
h2,
h3 {
  margin: 0 auto;
  color: $light-color;
}

h1 {
  @include primary-font;
  width: 300px;
  letter-spacing: -7px;
  font-size: $large-font-size;
  border-bottom: 4px double $light-color;
}

h2 {
  font-family: $italic-font;
  font-size: $medium-font-size;
  font-style: italic;
  font-weight: normal;
  padding-top: 10px;
  text-transform: none;
}

a {
  text-decoration: none;

  img {
    border: 0;
  }
}

ul,
dl {
  list-style-position: inside;
}

ul {
  padding-left: 0;
}

dt {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 5px;
}

dd {
  display: list-item;
  list-style-type: disc;
  text-align: left;
  margin: 0 10px;
}

figure {
  margin: 0;
}

small {
  padding: 15px 0;
  display: block;
}

hr {
  color: lighten(#9b9895, 20%);
}
