@import "_base.scss";

#home {
  padding: 0 20px;

  @include smallScreen {
    margin-top: 10px;
    padding: 0 10px;
  }
  
  h2 {
    span {
      text-transform: none;
    }

    @include smallScreen {
      max-width: 230px;
    }
  }

  img {
    margin: 30px auto 0 auto;
    max-width: 540px;
    width: 100%;

    @include smallScreen {
      margin: 40px auto 10px auto;
    }
  }

  nav {
    margin-top: 0;
  }
}