@import "_base.scss";

#home {
  padding: 0 20px;
  
  span {
    text-transform: none;
  }

  img {
    margin: 30px auto 0 auto;
    max-width: 540px;
    width: 100%;

    @include smallScreen {
      margin-top: 40px;
    }
  }

  nav {
    margin-top: 0;
  }
}