@import "_base.scss";

section {
  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include smallScreen {
    min-height: calc(100% - 90px);
  }
}

main {
  max-width: 900px;
  margin: 60px auto 0 auto;

  @include mediumScreen {
    padding: 0 10px;
  }

  @include smallScreen {
    margin-top: 40px;
  }
}

nav {
  max-width: 800px;
  width: 100%;
  margin: 30px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @include smallScreen {
    flex-direction: column;
  }

  .button {
    @include smallScreen {
      margin-top: 20px;
    }
  }
}

footer {
  width: 100%;
  background-color: $dark-color;
  color: $pale-accent-color;
}
