@import "_base.scss";

.companies {
  @include end-of-content;
  @include row-of-elements;
  flex-wrap: wrap;

  @include smallScreen {
    flex-wrap: nowrap;
  }

  .flip-card {
    @include ui-card(290px, auto);
    height: 260px;
    background-size: contain;
    border-radius: 5px;
    overflow-y: hidden;

    .wrapper {
      width: 100%;
      height: 74px;
      position: absolute;
      left: 0;
      bottom: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background: $accent-color;
    }

    &.show-details {
      .wrapper {
        height: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .description {
        box-sizing: border-box;
        padding: 10px;
      }
    }
  }
}

#travel-blog {
  background-image: url("/images/travel-blog-tile.png");
}

#disney {
  background-image: url("/images/disney-tile.png");
}

#jia {
  background-image: url("/images/jia-tile.png");
}

#perfume {
  background-image: url("/images/perfume-tile.png");
}

#dashwood {
  background-image: url("/images/dashwood-tile.png");
}

#selfridges {
  background-image: url("/images/selfridges-tile.png");
}

#hopelands {
  background-image: url("/images/hopelands-tile.png");
}

#whitestuff {
  background-image: url("/images/whitestuff-tile.png");
}

#ppp {
  background-image: url("/images/ppp-tile.png");
}
